section.categories 
  .container 
    .categories__inner 
      a.categories__item(href="#") 
        .categories__item-info 
          span.categories__item-title Квадроциклы
          p.categories__item-text Подробее
        .categories__item-img
          img(src="images/categories-1.png", alt="Categories image")
      a.categories__item(href="#") 
        .categories__item-info 
          span.categories__item-title Гидроциклы
          p.categories__item-text Подробее
        .categories__item-img
          img(src="images/categories-2.png", alt="Categories image")
      a.categories__item(href="#") 
        .categories__item-info 
          span.categories__item-title Катера
          p.categories__item-text Подробее
        .categories__item-img
          img(src="images/categories-3.png", alt="Categories image")
      a.categories__item(href="#") 
        .categories__item-info 
          span.categories__item-title Снегоходы
          p.categories__item-text Подробее
        .categories__item-img
          img(src="images/categories-4.png", alt="Categories image")
      a.categories__item(href="#") 
        .categories__item-info 
          span.categories__item-title Вездеходы
          p.categories__item-text Подробее
        .categories__item-img
          img(src="images/categories-5.png", alt="Categories image")
      a.categories__item(href="#") 
        .categories__item-info 
          span.categories__item-title Двигатели
          p.categories__item-text Подробее
        .categories__item-img
          img(src="images/categories-6.png", alt="Categories image")