section.intro
  .container 
    .intro__inner 
      .intro__slider.swiper
        .swiper-wrapper 
          .swiper-slide
            a.intro__slider-item(href="#")  
              img.intro__slider-item-img(src="images/intro-slider.jpg", alt="Intro slide")
          .swiper-slide
            a.intro__slider-item(href="#")  
              img.intro__slider-item-img(src="images/intro-slider.jpg", alt="Intro slide")
          .swiper-slide
            a.intro__slider-item(href="#")  
              img.intro__slider-item-img(src="images/intro-slider.jpg", alt="Intro slide")
          .swiper-slide
            a.intro__slider-item(href="#")  
              img.intro__slider-item-img(src="images/intro-slider.jpg", alt="Intro slide")
          .swiper-slide
            a.intro__slider-item(href="#")  
              img.intro__slider-item-img(src="images/intro-slider.jpg", alt="Intro slide")
          .swiper-slide
            a.intro__slider-item(href="#")  
              img.intro__slider-item-img(src="images/intro-slider.jpg", alt="Intro slide")
        .swiper-pagination  
        .swiper-button-prev
          img.swiper-button-prev-img(src=require("images/arrow-left.svg") alt="Button prev")
        .swiper-button-next
          img.swiper-button-next-img(src=require("images/arrow-right.svg") alt="Button next")
      a.intro__item(href="#") 
        .intro__item-top 
          p.intro__item-info Акция
          .intro__item__price
            .intro__item__price-new.price 190 000
            .intro__item__price-old.price 225 000
        img.intro__item-img(src="images/sale-1.png", alt="Sale image") 
        span.intro__item-title Лодочный мотор Suzuki DF9.9BRS
        .intro__item-bottom Акция действует до 
          span.intro__item-date 31.08.2020
          